body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
}

label[for="citySearch"] {
  font-weight: bolder;
  font-size: 2.8rem;
}

#currentCity {
  margin-top: 1rem;
}

#cityNameDate {
  font-weight: bolder;
  font-size: 2.5rem;
}

.card {
  border-width: 5px;
  border-color:darkslategray;
}

.card-text {
  padding:0;
}

#cityWeather li {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
}

#fiveDayForecast {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

#cardContainer {
  display:flex;
  flex-wrap: wrap;
}

.forecastCard {
  margin:1rem;
  max-width: fit-content;
}

@media screen and (max-width: 930px) {
  #cardContainer {
    flex-direction: column;
  }
  .forecastCard {
    max-width:none;
  }
}